<div class="btn-group" role="group">
    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
        <i class="fa fa-gear"></i>
        <span class="caret"></span>
    </button>
    <ul class="dropdown-menu pull-right" role="menu">
        <li>
            <a href="{{ path('document_typeview', {'id': documentPath}) }}" >
                View
            </a>
        </li>
    </ul>
</div>