<div class="btn-group" role="group">
    {% if contact.isPending == true %}
        {% if contact.assignTo == app.user %}
            <span class="label label-sm label-success">New</span>
        {% else %}
            <span class="label label-sm label-warning">Sent</span>
        {% endif %}
    {% endif %}

    <label class="mt-checkbox mt-checkbox-single mt-checkbox-outline">
        <input type="checkbox" class="checkboxes" name="contact_ids[]" value="{{ contact.id }}"/>
        <span></span>
    </label>

    <button type="button" class="btn  {% if contact.user is not null %} btn-info {% else %}  btn-default {% endif %} dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
        <i class="fa fa-gear"></i>
        <span class="caret"></span>
    </button>
    <ul class="dropdown-menu pull-right" role="menu">
        <li>
            <a href="{{ path('contact_edit', {'id': contact.id}) }}" >
                <i class="fa fa-edit"></i> Edit
            </a>
        </li>
        {% if contact.generatedBy == app.user %}
            <li>
                <a href="{{ path('contact_delete', {'id': contact.id}) }}" >
                    <i class="fa fa-trash-o"></i> Delete
                </a>
            </li>
        {% endif %}

    </ul>
</div>