{% form_theme form 'bootstrap_3_horizontal_layout.html.twig' %}

<!-- BEGIN PORTLET-->
<div class="portlet box blue">
    <div class="portlet-title line">
        <div class="caption">
            Inventory
        </div>
    </div>
    <div class="portlet-body" id="chats">
        {{ form(form) }}
    </div>
</div>
<!-- END PORTLET-->