Hi {{ user.firstName }},<br>
<br>
Welcome to EasyCloses! Here are some important instructions for you to follow.<br>
<br>
1)  Log into your account:<br>
<ul>
    <li>
        Go to EasyCloses.com and enter your username (your e-mail) and the password you created.
    </li>
    <li>
        If you have forgotten your password you can use the forgot your password link under the login. Follow the
        prompts to reset your password and finish the login process.
    </li>
</ul>
2) Upload your Personal photo and bio and your Business logo and bio.<br>
<br>
<b>IMPORTANT</b> When the agents are looking for a business to work with they usually will only pick ones that display
a logo and bio.<br>
<ul>
    <li>
        Click <b>My Profile</b> in the upper right hand corner of your screen.
    </li>
    <li>
        It opens on the <b>Personal</b> tab and you need to click <b>Account Profile</b> to enter your personal photo
        and bio here. <b>Hit the save button.</b>
    </li>
    <li>
        Next Click on the <b>Business</b> tab and choose the <b>Business Information</b> tab to enter you company logo
        and company bio. <b>Hit the save button.</b>
    </li>
</ul>
3) Custom Order Form & Website Color<br>
<ul>
    <li>
        Still under the <b>Business</b> tab choose <b>Form</b>. This is where you can create your own <b>custom form</b>
        to be filled out by any users entering a job or quote for you. If you don’t do this you will still receive a
        generic order.
    </li>
    <li>
        You may ask questions and layout answers. You can change the main color of your website by choosing a
        <b>Theme</b> color on the <b>Business Information</b> tab. Click on a color scheme and
        <b>hit the save button</b>.
    </li>
</ul>
4) Interactive Client and Vendor Accounts<br>
<ul>
    <li>
        You can create client accounts by adding/inviting clients! By doing this you can send a custom login to other
        professionals to send them jobs!
    </li>
    <li>
        Go to the <b>Contacts</b> tab and click add. Once you add your contact’s info you will see
        <b>Send Portal Invitation</b> with a ☑. This insures an invitation will be sent. (Should you choose not to
        send an invitation be sure to uncheck the box).
    </li>
    <li>
        Your clients will click on the invitation sent by you, and an account will be created!
    </li>
    <li>
        Your business colors will be the backdrop of your client’s account and your business will show under their
        <b>My Profile</b> settings!  This is a great way to promote your business.
    </li>
    <li>
        By doing this you can share documents and communications via the EasyCloses system! It's a great way to
        promote your business.
    </li>
</ul>
5) You can access EasyCloses from all your devices!<br>
<ul>
    <li>
        All the features you see on your big screen computer you will find on your tablet and your phone. Now that’s
        easy!
    </li>
</ul>
Should you have any questions please feel free to contact us via email or by phone. We look forward to long working
relationship!<br>
<br>
Sincerely,<br>
<br>
Easy Closes<br>
888-740-0550<br>
