<p>Hi {{ client.fullName }},</p>
<br>
<p>Here is the info you requested from {{ business.name }}</p>
<p>
    <a href="{{ item.externalLink }}">CLICK HERE</a>
</p>
<br>
<p>Thank you,</p>
<p>LocalsBest <a href="{{ url('ec_shop_main_page') }}">EC Shop</a></p>