Hello,<br>
<br>
Recently, {{ invite.createdBy.fullName }} with {{ invite.createdBy.businesses.first.name }} invited you to add your business for <b>FREE</b> to
EasyCloses.com. They provide businesses like yours with the opportunity to <b>work with professionals who deal with
    buyers, sellers and renters needing services for their home.</b><br>
<br>
By listing your business with Easy Closes, you will…<br>
<br>
<ul>
    <li>Stay connected to local professionals as your company name displays on their work platforms</li>
    <li>Be able to accept job orders</li>
    <li>Provide quotes for a job</li>
    <li><b>Refer and receive business</b> from other Easy Closes members</li>
    <li>Share any documents needed for the job</li>
    <li>And so much more!</li>
</ul>
<br>
As {{ invite.createdBy.fullName }} told us that you provide high quality and professional services to clients, we wanted to ensure
you have the opportunity to sign up with EasyCloses.com. We work with local companies and would love to have the
opportunity to help support your growing business.<br>
<br>
Completing your free registration only takes a minute  and for a small fee you may also choose the enhanced gold or
silver membership. This is a great way to get even more jobs.<br>
<br>
<a>Click here to complete your FREE registration now</a><br>
<br>
<br>
Sincerely,<br>
<br>
Easy Closes

