Your job was updated to completed status.<br>
{{ job.fullAddress }}<br>
<br>
Thank you,<br>
{{ vendor.fullName }}<br>
{{ vendor.businesses[0].name }}<br>
<br>
<a href="{{ url('job_view', {'id': job.id}) }}">Click here to reply or to view job</a><br>
<br>
Easycloses.com notification systems | Do not reply to this email
