Hello!<br>
You bought subscription with {{ invite.business.name }} network. <br/>
<b>Click the 'Register Now' link below to create your account.</b>

<a href="{{ url('register', {token: invite.token}) }}">Register Now</a>
<br>
Sincerely,-<br>
EasyCloses.com 888-740-0550
