Hello {{ user.firstname }} {{ user.lastname }},<br>

Please click the link below to initiate your password reset
<br/><br/>
<a href='{{ url('reset_password', { token: user.token }) }}'>Reset Password</a>
<br>
<br>
-We appreciate you allowing us to serve you!<br>
<br>
Sincerely,-<br>
EasyCloses.com 888-740-0550
