Hello!
<br/>
You have been invited to add your business on LocalsBest.com by {{ user.firstName }} {{ user.lastName  }} from
{{ user.businesses[0].name }}.  We offer Concierge Services to leading real estate brokerages, agents and their
clients. <br/>
<br>
Agents order services online from licensed and insured companies that commit to providing outstanding customer service.
You will automatically receive the contact information and the order or quote request (via text and email) of ready to
go customers who are expecting your call. If you can see the benefit of working with real estate agents please call us
so we may enter you in the first spots on the portal.<br>
<br>
<b>Sincerely, Personal Assistant - Concierge Desk  888-740-0550</b><br>
<br>
Click below to start your membership now at LocalsBest.<br>
<a href="{{ url('vendor_add', {token: token}) }}">Vendor Now</a>
