Hello {{ user.firstname }},
<br>
Welcome to EasyCloses.com! We look forward to working with your business. Let's get started,
<a href="{{ url('locals_best_user_homepage') }}">Click on this link</a> to Log into your account. Once you have
registered you will be contacted for training.
<br>
<br>
-We appreciate you allowing us to serve you!<br>
<br>
Sincerely,-<br>
EasyCloses.com 888-740-0550
