{% extends '::base.html.twig' %}

{% form_theme form 'bootstrap_3_layout.html.twig' %}

{% block content -%}
    <h1>IndustryType creation</h1>

    {{ form(form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('admin_industry_type') }}">
            Back to the list
        </a>
    </li>
</ul>
{% endblock %}
