<form action="{{ path('shop_charge') }}" method="post">
    <input type="hidden" name="orderCode" value="{{ order.code }}">
    <input type="submit" class="btn btn-success btn-xlarge" value="ACTIVATE NOW">
</form>