{% extends '::shop-layout.html.twig' %}

{% form_theme form 'bootstrap_3_layout.html.twig' %}

{% block title %}
    Contact Us
{% endblock %}


{% block styles %}
    {{ parent() }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}

{% block content -%}
    <div class="container">
        <div class="row">
            <h3 style="text-align:center">Contact Us Form</h3>
            <span style="margin-left: 420px;">Thank you, We would be happy to send you info!</span>
            <div class="col-md-6 col-md-offset-3" style="margin-top: 15px;">
                {{ form(form) }}
            </div>
        </div>

    </div>

{% endblock %}
