{% extends '::base.html.twig' %}

{% form_theme edit_form 'bootstrap_3_layout.html.twig' %}

{% block content -%}
    <h1>Button edit</h1>

    {{ form(edit_form) }}

    <a class="btn btn-default" href="{{ path('admin_buttons') }}" style="float: left;margin-right: 12px;">
        Back to the list
    </a>
        <div>
    {{ form(delete_form) }}
        </div>
{% endblock %}
