<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
    <h4 class="modal-title">Edit Question "{{ question.question }}"</h4>
</div>
<form class="form-horizontal" role="form" method="POST" action="{{ path('question_edit', {'id': question.id}) }}">
    <div class="modal-body">
        <div class="form-body">
            {% include('@LocalsBestUser/question/_form.html.twig') %}
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn dark btn-outline" data-dismiss="modal">Cancel</button>
        <input type="submit" class="btn green" value="Update">
    </div>
</form>

{% include('@LocalsBestUser/question/_script.html.twig') %}