<div class="modal-content">
    <div class="row pdf_splitter">
        <div class="col-md-12">
            <div class="modal-body">
                <h3>We are improving the PDF splitter for you.</h3>
                <p>It will be back by Wednesday.</p>
                <p>Sorry for the inconvenience</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
